<h1>Restaurants</h1>


  <ul>
    <% @restaurants.each do |restaurant| %>
      <li> <%= restaurant.name %> --- <%= restaurant.address %> ---
        <%= restaurant.category %> --> <%= link_to 'Show', restaurant %>
      </li>
    <% end %>
  </ul>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
